body{
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}
#signup-button{
    background-color: limegreen;
    width: 100%;
    height: 10%;
}
#signin-button{
    background-color: limegreen;
    width: 100%;
    height: 10%;
}