#signin{
    text-align: center;
    color: white;
    background: blue;
    position: absolute;
    top: 8px;
    right: 16px;
}
#signup{
    text-align: center;
    color: white;
    background: blue;
    position: absolute;
    top: 8px;
    right: 150px;
}
#sub-header{
    font-family: 'Ubuntu Mono';
}
button{
    padding: 10px 30px;
    margin-top: 10px;
}
h1{
    font-family: 'Montez', cursive;
    color: blue;
    line-height: 0;
}
#signup-button{
    background-color: #5eb762;
    width: 100%;
    height: 10%;
}
#signin-button{
    background-color: #5eb762;
    width: 100%;
    height: 10%;
}