
h2{
    font-family: Arial;
}
body{
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

#postsButton{
    text-align: center;
    padding: 10px 30px;
    margin-top: 10px;
    position:fixed;
    top: 50%;
    left: 40%;
}

#allpost{
    text-align: center;
    color: black;
    background: #cfb53b;
    position: center;
}
#createpost{
    text-align: center;
    color: black;
    background: #cfb53b;
    position: center;
}


#create-button{
    background-color: #5eb762;
    position: relative;
    left: 280px;
}

input{
    width: 100%;
}
